.wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

#game-board {
  display: inline-grid;
  /* Should change this to something more responsive */
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  width: 25vw;
  min-width: 250px;
  min-height: 250px;
}

.grid-item {
  border: 1px solid white;
  max-width: 100px;
  max-height: 100px;
  background-color: rgba(10, 140, 120, 0.5);
  box-sizing: border-box;
}

#sidebar {
  width: 200px;
  height: 500px;
  border: 1px solid black;
  border-radius: 15px;
  display: inline-block;
}

#sidebar div {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
