body {
  background-color: #260c1a;
  color: #fefefe;
}

.wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

#game-board {
  /* display: inline-grid; */
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
}

.grid-item {
  border: 4px solid #260c1a;
  max-width: 150px;
  max-height: 150px;
  background-color: #c5d86d;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sidebar {
  display: flex;
  flex-direction: column;
}

#sidebar > div {
  width: 150px;
  height: 150px;
  border: 4px solid #260c1a;
}

#game-announcement-container {
  height: 10vh;
}

#game-area {
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#restart-button {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  border: none;
  background-color: #f05d23;
  color: #fefefe;
  width: 100%;
  padding: 0.6rem;
}

@media (max-width: 426px) {
  #sidebar {
    flex-direction: row;
    order: 1;
    margin: 10px 0;
  }

  #sidebar > div {
    width: 100px;
    height: 100px;
  }

  #game-board {
    order: 2;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
  }

  .grid-item {
    max-width: 100px;
    max-height: 100px;
  }
}
